/* LiveGames.css */
.live-games-container {
    max-width: 1000px;
    /* Set your desired maximum width */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    overflow: auto;
    /* Add this line to make the container scrollable */
}

.game-item {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.game-item:hover {
    background-color: #f2f2f2;
}

.game-item.active {
    background-color: #f2f2f2;
}

.stats-table-container {
    margin-top: 20px;
}

.stats-table-container .table-scroll {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    margin-right: 10px;
}

.stats-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: max-content;
    /* Allow cells to take up as much width as they need */
}

/* LiveGames.css */

/* ... (other styles) */

.stats-table th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

.stats-table th:first-child {
    left: 0;
    /* Add this line to make the first column sticky on the left */
}

.stats-table th.Name {
    /* Add a class selector for the "Name" column */
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

.stats-table th,
.stats-table td {
    padding: 8px;
    border: 1px solid #fffefe;
    text-align: center;
    word-wrap: break-word;
}

.stats-table th,
.stats-table td {
    padding: 8px;
    border: 1px solid #fffefe;
    text-align: center;
    word-wrap: break-word;
    /* Add this line */
}

.table-scroll {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    /* Add this line */
}

.loading {
    margin-top: 20px;
    font-weight: bold;
}

.no-stats {
    margin-top: 20px;
    font-weight: bold;
    color: red;
}

.annotation {
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-top: 4px;
}